@import './variables.scss';


* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@mixin fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

html, body {
	@include fullscreen();

	background-color: $backpage;
	overflow: hidden !important;
}

#app {
	@include fullscreen();
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	justify-content: flex-start;
  perspective: 10px;
  perspective-origin: 50%;
}

@media (min-width: 700px) {
	*::-webkit-scrollbar { width: 14px; height: 0; }
	*::-webkit-scrollbar-track { background-color: transparent; }
	*::-webkit-scrollbar-thumb { background-color: $bg-bright; border-radius: 99px; border: 4px solid $backpage; }
	*::-webkit-scrollbar-thumb:hover { background-color: $bg-brighter; }
}

/* */

button, *[btn] {
  display: inline-block;
  padding: 12pt 30pt;
  background-image: linear-gradient(30deg, #ba38be, #7b7fe1);
  font-family: $font-major;
  font-size: 15pt;
  color: $color-regular;
  user-select: none;
  border-radius: 999px;
  box-shadow: 0 0 15px #00000088;
  transition: 0.2s ease opacity
            , 0.2s ease background-position
            , 0.2s ease box-shadow;
  position: relative;

  &:hover {
    background-image: linear-gradient(30deg, #9e35a1, #6b6eb9);
    box-shadow: 0 1px 15px #00000088;
  }

  &[min] {
    background: transparent;
    border: 2px solid $color-sub;
    color: $color-sub;
    padding: calc(12pt - 2px) calc(30pt - 2px);
    box-shadow: none;

    &:hover {
      background: #ffffff11;
    }
  }
}

/* */

.pageroot {
	// position: relative;
	width: 90%;
	max-width: $content-width;
	flex-grow: 1;

	&.padtop { padding: 150pt 0 0 0; }
	&.padbot { padding: 0 0 100pt 0; }
	&.padboth { padding: 150pt 0 100pt 0; }
	&.padfullscreen { padding: 150pt 0 100pt 0; min-height: calc(100vh - 300pt); }

	&.plaintext {
		span {
			padding-bottom: 5px;
			color: $color-regular;
		
			a {
				color: #da5e7d;
				border-bottom: 3px solid #da5e7d33;
		
				&:hover { border-bottom: 3px solid #da5e7d; }
			}
		}
	}
}

div.center {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1, h2[h1] {
	margin: 0;
	padding-bottom: 20pt;
	color: $color-header;
	font-family: $font-header;
	font-size: 38pt;
	line-height: 38pt;

	&[multiline]:first-of-type { padding-bottom: 0; }
	&.center {
		width: 100%;
		display: flex;
		justify-content: center;
		&:not([nospace]) span { margin-right: 12pt }
	}

	span {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	span {
		position: relative;
		top: 25pt;
		opacity: 0;
		animation: h1-in 1s cubic-bezier(0.22, 1, 0.36, 1);
		animation-fill-mode: forwards;
		@for $i from 0 to 9 {
			&[d="#{$i}"] { animation-delay: $i * .1 * 1s + 1s; }
		}
	}
	
	@keyframes h1-in {
		0% { opacity: 0; top: 25pt; }
		0.01% { opacity: 1; }
		100% { top: 0pt; opacity: 1; }
	}
}

h2, h2 span {
	overflow: hidden;
	padding-bottom: 5pt;
	color: $color-major;
	font-family: $font-major;
	font-size: 20pt;
	line-height: 20pt;

	&:not([sub]):not(span) { margin: 40pt 0 10pt 0; }
	&[multiline]:first-of-type { padding-bottom: 0; }
	&[sub], &[sub] span {
		color: $color-sub;
		font-family: $font-regular;
	}
	&.center {
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
		&:not([nospace]) span { margin-right: 6pt }
	}
	&.overflow-visible { overflow: visible; }
	
	span {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	
	span {
		position: relative;
		margin-bottom: 0;
		top: 56pt;
		animation: h2-in 1.5s cubic-bezier(0.33, 1, 0.68, 1);
		animation-fill-mode: forwards;	
		@for $i from 0 to 12 {
			&[d="#{$i}"] { animation-delay: $i * .05 * 1s + 2s; }
		}
	}
	
	@keyframes h2-in {
		0% { top: 56pt; }
		100% { top: 0pt; }
	}
}

h3, h3 span {
	font-size: 14pt;
	margin: 10pt 0 5pt 0;
	color: $color-header;
	font-family: $font-header;

	&.center {
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

h4 {
	margin: 20pt 0 5pt 0;
	display: block;
	overflow: visible;

	&.center {
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;
	}
	
	span {
		display: block;
		font-size: 22pt;
		color: $color-header;
		font-family: $font-header;
	}
	&[left] span { text-align: left; }
	&[center] span { text-align: center; }
	&[right] span { text-align: right; }
}

h5, h5 span {
	color: $color-minor;
	font-family: $font-minor;
}

.box {
	position: relative;
	width: 50%;
	background: $bg-bright;
	border-radius: .5vh;
	padding: 20px;
	box-shadow: 0 2px 10px #00000066;
	margin-bottom: 40px;

	a {
		color: #da5e7d;
		border-bottom: 3px solid #da5e7d33;

		&:hover { border-bottom: 3px solid #da5e7d; }
	}
}

*[fade-in] {
	opacity: 0;
	animation: section-in 1s ease;
	animation-fill-mode: forwards;
	animation-delay: 3s;

	@keyframes section-in {
		0% { opacity: 0; transform: translateY(10px); }
		100% { opacity: 1; transform: translateY(0); }
	}
}
	
.pageroot span:not([component]) {
	display: block;
	font-size: 12pt;
	color: $color-regular;
	font-family: $font-regular;
	margin-bottom: 10pt;

	&.center { text-align: center; }
	&.slim { max-width: $content-width / 2; margin: 0 auto 10pt auto; }
}

code {
	background: #00000055;
	color: $color-regular;
	padding: 5px 9px;
	margin: 5px 0;
	font-size: 12pt;
	display: block;
	font-family: monospace;
	border-radius: .3vh;

	&[inline] {
		display: inline-block;
	}
}

.info {
	border-left: 3px solid #2aa9c9;
	background: #3f5155;
	margin-top: 20px;
	padding: 10px 0 10px 15px;
	border-radius: 0 .3vh .3vh 0;
	color: $color-regular;
	font-family: $font-regular;
}

.divider {
	&.dash {
		&.horizontal {
			margin: 30px 0 60px 0;
			width: 50px;
			height: 2px;
			background: $color-sub;
			transform: translateX(-10px);
				
			&::after {
				content: '';
				position: relative;
				display: block;
				right: -60px;
				width: 10px;
				height: 2px;
				background: $color-sub;
			}

			&.center {
				margin: 30px auto 60px auto;
			}
		}
	}

	&.dotted {
		&.vertical {
			position: relative;
			display: flex;
			height: 150pt;
			justify-content: center;
			align-items: center;

			&::before {
				content: '• • •';
				color: #ffffff66;
				font-size: 20pt;
				transform-origin: top;
				transform: rotate(90deg);
			}
		}
	}
}

.popbox {
	position: relative;
	background-color: #dddddd;
	border-radius: 20pt;
	padding: 20pt;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 5pt 15pt #000000aa;

	& > *:first-child {
		margin: 10pt 0 0 10pt !important;
	}

	* { color: #000000; }

	&.small { max-width: $content-width / 2; }
	&.medium { max-width: $content-width / 3 * 2; }

	&.green {
		background-image: linear-gradient(30deg, #71d89a, #80a2f1);
	}

	@media (max-width: 600px) {
		padding: 10pt;
	}

	.bgdeco {
		position: absolute;
		width: 100pt;
		opacity: .2;
		right: -10pt;
		top: -30pt;

		@media (max-width: 600px) { opacity: .1; }
	}

	h2 {
		font-family: $font-header;
	}

	.gallery {
		display: grid;
		margin-top: 20pt;
		column-gap: 10pt;

		&[items="2"] { grid-template-columns: repeat(2, minmax(0, 1fr)); }
		&[items="3"] { grid-template-columns: repeat(3, minmax(0, 1fr)); }
		&[items="4"] { grid-template-columns: repeat(4, minmax(0, 1fr)); }
		&[items="5"] { grid-template-columns: repeat(5, minmax(0, 1fr)); }

		@media (max-width: 600px) {
			grid-template-columns: 1fr !important;

			& > a {
				display: grid !important;
				grid-template-columns: 1fr 3fr !important;
				grid-template-rows: auto auto !important;
				grid-template-areas: "icon header" "icon content" !important;
				padding: 10pt 15pt !important;

				img {
					width: 80% !important;
				}

				span {
					text-align: left !important;
				}
			}
		}

		@media (max-width: 450px) {
			& > a {
				column-gap: 10pt !important;

				img {
					width: 100% !important;
				}
			}
		}
		
		& > a {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 0 15pt 15pt 15pt;
			background-color: #00000000;
			transition: background-color .1s ease;
			border-radius: $component-border-radius*2;

			&:hover {
				background-color: #00000018;
			}

			img {
				width: 50%;
				grid-area: icon;
			}

			span {
				color: #000000;
				font-family: $font-regular;
				font-size: 11pt;
				text-align: center;
				grid-area: content;

				&:first-of-type {
					font-family: $font-header;
					font-size: 12pt;
					margin-bottom: 5pt;
					grid-area: header !important;
				}
			}
		}
	}
}

.new-badge {
	background-color: #584db9;
	font-size: .7em !important;
	display: inline-block !important;
	padding: 2pt 4pt;
	border-radius: 2pt;
	margin: 0 0 0 .5em !important;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

img[draggable="false"] { user-select: none; }

/*
 *
 */

.markdown-page {
	max-width: 800px !important;
	margin-top: 20vh;
	
	color: $color-regular;

	hr {
		margin: 20pt 0;
		height: 2px;
		background-color: $color-minor;
		border: none;
	}

	p, li {
		font-family: $font-regular;
		color: $color-regular;
		font-size: 12pt;
	}
	p { margin-bottom: 1em; }
	li {
		margin-bottom: .3em;
		// padding-left: 1em;
		width: calc(100% - 1.5em);
		transform: translateX(1.5em);
	}
	ul, ol { margin-bottom: 1em; }

	a {
		font-family: $font-regular;
		color: #2aa9c9;
		font-size: 12pt;
		text-decoration: none;
		padding: 2px 4px;
		margin: -2px -4px;

		&:hover {
			color: #59c8e4;
			background-color: #2aa9c922;
			border-radius: 4px;
		}
	}
}

/*
 *
 */

.tippy-tooltip {
  background-color: black !important;
  color: $color-regular;
  font-family: $font-major;
  font-size: 11pt;
  padding: 6pt 10pt;
}

.tippy-tooltip .tippy-roundarrow {
  fill: black;
}

.tippy-tooltip.invisible-theme {
  opacity: 0;
}

.tippy-tooltip[data-animation='vertical'][data-state='hidden'] {
  opacity: 0;
  transform: translateY(5px) scaleY(.95);
}

/*
 *
 */

@media (max-width: 1200px) {
	#infobox {
		width: 100%;
	}

	h1, h2[h1] {
		font-size: 24pt !important;
		line-height: 24pt !important;
		text-align: center !important;
		padding-bottom: 10pt !important;
	}

	h2:not([h1]) {
		font-size: 16pt !important;
		line-height: 16pt !important;
		text-align: center !important;
		// padding-bottom: 5pt !important;
	}

	h3 {
		font-size: 12pt !important;
		margin: 15pt 0 5pt 0 !important;
	}

	h5 {
		text-align: center !important;
	}

	#decoarrow1 {
		position: absolute;
		width: 80px;
		left: 50%;
		top: 12px;
		transform: translateX(-250px);
	}

	#decoarrow2 {
		position: absolute;
		width: 60px;
		left: 42%;
		top: 65px;
	}

	#gameslist {
		top: 80vh !important;
		transform: scale(0.7);
		width: 100%;
		right: 50%;
  }
  
  #pricetagcont {
		right: unset;
    left: 2vw;
  }

	#imggame1 {
		right: unset;
    left: 2vw;
    width: 70vw !important;
	}

	#imggame2 {
    right: 8% !important;
    width: 70vw !important;
	}

	#imggame3 {
    right: 0 !important;
    width: 70vw !important;
	}

	#imgdiscord {
    right: 0 !important;
    margin: auto;
		width: 90vw !important;
		top: 300px;
		margin-bottom: 75px;
	}

	#discordimgdetail {
		position: absolute;
		width: 100% !important;
		top: 620px;
		right: 0 !important;
		text-align: center;
		font-size: 14px;
		opacity: 0.3;
	}

  .button {
    font-size: 20px;
	}
	
  #imgdiscord {
    right: 0vw !important;
    width: 90vw !important;
    top: 300px !important;
    margin-bottom: 50px;
  }

  #decoline1,
  #decoline2,
  #decoblob2 {
    display: none;
  }

  #mid {
    flex-direction: column;
  }

  #imgbox {
    width: 100% !important;
    min-height: 330px;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  
  #buttonsbox {
    width: 100% !important;
  }

  #buttons {
    width: calc(100% + 5px);
    display: flex;
    justify-content: center;
    transform: translate(0px, 0px);
    flex-wrap: wrap;
		margin-bottom: 30px;

		a {
			margin-top: 10px;
			font-size: 18px;
		}
  }

  footer {
    display: none;
  }

  .box {
    width: 90% !important;
  }

  #tutorial {
    margin-bottom: 30px;
  }
	
	.deco {
		opacity: .2;
	}

	#buttons > .deco {
		opacity: 1;
	}
}
