@font-face {
  font-family: "Montserrat 900";
  src: url("/assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat 800";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat 600";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat 500";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat 400";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat 300";
  src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
}